---
layout: default
---
<div class="well">

    <h1>Tervetuloa!</h1>
    <p>
    Partiolippukunta Helsingin Kotkat ry on 7.2.1934 perustettu sekalippukunta. Aluksi lippukunta oli poikalippukunta ja toimi Vanhan kirkon piirissä, mutta vuonna 1974 lippukunta siirty Mellunmäkeen, jossa se nykyisinkin toimii. Jäseniä on tällä hetkellä yhteensä 89 ja lippukunnassa toimii nuoria kaikissa ikäkausissa.
    </p>

    <p>
    Sivuiltamme löydät lisätietoja toiminnastamme, historiastamme, sekä siitä, miten pääset mukaan toimintaan!
    </p>


    <p><b><a href="https://get.google.com/albumarchive/116093995893173723177?source=pwa">Picasa</a></b> - Kuvia lippukunnan tapahtumista löytyy Picasasta</p>

    <p><b><a href="https://www.facebook.com/helsinginkotkat/">Facebook</a></b> - Tiedoitamme tapahtumista Facebookissa ja sinne tulee myös kuvia tapahtumista</p>

    <p><b><a href="https://twitter.com/helsinginkotkat">Twitter</a></b> - #partioheko = HeKo @helsinginkotkat, #partioscout = suomen partiolaiset @partiolaiset, #päpa = pääkaupunkiseudun partiolaiset @partiokuuluu</p>

    <p><b><a href="https://www.instagram.com/partioheko/">Instragram</a></b> - Muista käyttää #partioheko kun jaat kuvia lippukunnan tapahtumista! Täällä toimii myös #partioscout ja #päpa jos katsot että kuvat sopisivat partiotoimintaan yleisemminkin</p>
</div>
{% for post in paginator.posts %}
<div class="article">
    <div class="well">
        <h2>Uusimmat uutiset</h2>
        <h1><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%b %-d, %Y" }} - {{ post.title }}</a></h1>
        {% if site.comments and post.comments %}
        {% if site.disqus != '' %}
        <p class="author"><a href="{{ site.baseurl }}{{ post.url }}/#disqus_thread" data-disqus-identifier="{{ post.url | slugify }}">Comments</a></p>
        {% elsif site.isso != '' %}
        <p class="author"><a href="{{ site.baseurl }}{{ post.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p>
        {% endif %}
        {% endif %}
        <div class="content">
            {{ post.content }}
        </div>
    </div>
</div>
{% endfor %}

<div class="pagination">
    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a class="btn btn-default" href="{{ site.baseurl}}/index.html" class="previous">Newer</a>
    {% else %}
    <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">Newer</a>
    {% endif %}
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">Older</a>
    {% endif %}
</div>
